@import "../MainStyles.module.scss";

.registerBlock{ 
    width:100vw;
    height:100vh;
    overflow: hidden;
    .background{
        img{
           width:100vw;
        }
    }
    form{
        width:20vw;
        height:auto;
        background-color: black;
        position:absolute;
        left:50%;
        margin-left:-10vw;
        top:50%;
        margin-top:-17vw;
        color:$paragraphColor;
        font-family: $mainFont;
        animation:fadeIn 1s forwards;
    }
    .login{
        width:20vw;
        height:auto;
        background-color: black;
        position:absolute;
        left:50%;
        margin-left:-10vw;
        top:50%;
        margin-top:-10vw;
        color:$paragraphColor;
        font-family: $mainFont;
        animation:fadeIn 1s forwards;
    }
    .title{
        font-size:25px;
        padding:1vw;
        text-align: center;
    }
    .inputBlock{
        display:flex;
        padding-top:0.5vw;
        padding-bottom:0.5vw;
        flex-direction: column;

        label{
            margin-left:1vw;
            padding-bottom:0.5vw;
        }
        input{
            margin-left:1vw;
            margin-right:1vw;
            height:30px;
            font-family: $mainFont;
        }
    }
    .checkbox{
        display:flex;
        align-items: center;
        padding-top:0.5vw;
        padding-bottom:0.5vw;

        div{
            display:flex;
               
            .terms:hover{
                color:$prettyRedColor;
                cursor:pointer;
            }
            p{
                margin-right:0.3vw;
            }
        }
        p{
            font-size:15px;
        }
        input{
            margin-left:1vw;
            margin-right:0.5vw;
        }
    }
    
    .btnBlock{
        display:flex;
        justify-content: center;
        align-items: center;
        padding-top:1vw;
        padding-bottom:1vw;
        button{
            @include button($prettyRedColor, $paragraphColor, 6vw, 2vw, 10px);
        }
    }

    .logoBlock{
        width:20vw;
        margin-top:1vw;
        display:flex;
        align-items: center;
        justify-content: center;

        img{
            width:3vw;
            height:auto;
            padding-bottom:1vw;
        }
    } 
}

@keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity:1;}
}
