@import "../MainStyles.module.scss";

.registerBlock{ 
    width:100vw;
    height:100vh;
   
    .background{
        width:100vw;
        height:100vh;
        overflow: hidden;

        img{    
           width:100vw;
           z-index: -10;
        }
    }
    .formBlock {
        width:100vw;
        position:absolute;
        top:0;
        left:0;
        z-index:5;
        height:100vh;
        display:flex;
        align-items: center;
        justify-content: center;

        form{
            width:20vw;
            height:auto;
            background-color: black;
            
            color:$paragraphColor;
            font-family: $mainFont;
            animation:fadeIn 1s forwards;
        }
        .login{
            width:20vw;
            height:auto;
            background-color: black;
            
            color:$paragraphColor;
            font-family: $mainFont;
            animation:fadeIn 1s forwards;
        }
    }
    
    .title{
        font-size:25px;
        padding:1vw;
        text-align: center;
    }
    .inputBlock{
        display:flex;
        padding-top:0.5vw;
        padding-bottom:0.5vw;
        flex-direction: column;

        label{
            margin-left:1vw;
            padding-bottom:0.5vw;
        }
        input{
            margin-left:1vw;
            margin-right:1vw;
            height:30px;
            font-family: $mainFont;
        }
    }
    .checkbox{
        display:flex;
        align-items: center;
        padding-top:0.5vw;
        padding-bottom:0.5vw;

        div{
            display:flex;
               
            .terms:hover{
                color:$prettyRedColor;
                cursor:pointer;
            }
            p{
                margin-right:0.3vw;
            }
        }
        p{
            font-size:15px;
        }
        input{
            margin-left:1vw;
            margin-right:0.5vw;
        }
    }
    
    .btnBlock{
        display:flex;
        justify-content: center;
        align-items: center;
        padding-top:1vw;
        padding-bottom:1vw;
        button{
            @include button($prettyRedColor, $paragraphColor, 6vw, 2vw, 10px);
        }
    }

    .logoBlock{
        width:20vw;
        margin-top:1vw;
        display:flex;
        align-items: center;
        justify-content: center;

        img{
            width:3vw;
            height:auto;
            padding-bottom:1vw;
        }
    } 
}

@keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity:1;}
}
